@import "mixins"

#ask
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 999
	display none
	> .bg
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background-color transparent
		transition(.5s)
	> .ask
		position absolute
		top 50%
		left 50%
		width 350px
		height 200px
		margin-top -151px
		margin-left -176px
		background-color white
		font-size 15px
		color #333
		border 1px solid #aaa
		opacity 0
		box-shadow(0 3px 24px rgba(0, 0, 0, .8))
		border-radius(3px)
		transition(.5s)
		.title
			line-height 40px
			text-align center
			font-size 20px
			btn-gradient(#FFFFFF, #F2F2F2, #D5D5D5, #E8E8E8)
			div
				display inline-block
				padding 0 24px
				border 1px solid #aaa
				border-width 0 1px
				btn-gradient(#fff, #FAFAFA, #E0E0E0, #F0F0F0)
		.text
			border 1px solid #aaa
			border-width 1px 0
			padding 20px 32px
			height 50px
		.buttons
			padding 16px 32px
			text-align center
			> div
				margin-left 10px
#ask.show
	> .bg
		background-color rgba(0, 0, 0, .5)
	> .ask
		margin-top -101px
		opacity 1