@import "mixins"

div.image
	font-size 0
	display inline-block
	vertical-align middle
	border 1px solid #aaa
	padding 5px
	position relative
	cursor pointer
	transition(.3s)
	btn-gradient(#FAFAFA, #FFFFFF, #F2F2F2, #D5D5D5, #E8E8E8)
	box-shadow(0 0 8px #aaa)
	.red
		position absolute
		top 5px
		right 5px
		width 20px
		height 20px
		line-height 20px
		padding 5px
		font-family 'icomoon'
		text-shadow(none)
	.red:not(:hover)
		color transparent
		border-color transparent
		background transparent
		box-shadow(none)
	.red:not(:hover):before
		background-color transparent
	.red:not(:hover):after
		opacity 0
	.add
		width 200px
		height 200px
	.broken
		width 200px
		height 118px
		line-height 118px
		position relative
		i
			font-size 54px
	img
		min-width 100px
		max-width 300px
		max-height 118px
		border 1px solid #aaa
		display block
div.image:hover
	box-shadow(0 0 16px #357AD6)
	.red:not(:hover)
		color #aaa
		border-color #aaa
		background rgba(255, 255, 255, 0.7)
.images-form, .image-form
	margin 10px
	.image
		border-radius(5px)
		margin 10px
.group td.image
	width 1px
	a
		height inherit
		min-height 100%
	.image
		min-height 100%
	.blue
		vertical-align middle